<!DOCTYPE html>
<html>
<head>
  <title>WebMIDI Piano</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <div id="title">MidiScope-1</div>
    <canvas id="oscilloscope" width="800" height="200"></canvas>
    <div class="keys-wrapper">
      <div v-for="(key, index) in keys" :key="index" 
           :class="['piano-key', key.type, { 'active': key.isActive }]" 
           @mousedown="playNote(key.note, index)"
           @mouseup="stopNote(key.note, index)"
           ref="pianoKeys"
           draggable="false">
      </div>
    </div>
    <div>
      <div class="spacing"></div>
      <button class="oscillator-type" @click="setOscillatorType('sine')">Sine</button>
      <button class="oscillator-type" @click="setOscillatorType('square')">Square</button>
      <button class="oscillator-type" @click="setOscillatorType('triangle')">Triangle</button>
    </div>
    <div>
      <div class="spacing"></div>
      <div class="volume-wrapper">
        <label for="volume">Volume: {{ volume }}%</label>
        <input type="range" id="volume" v-model="volume" min="0" max="100">
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
